.Slidebar{
    width: 20%;
    height: 100vh;
    background-color: rgba(22, 21, 21, 0.563);
    color: white;
    text-align: center;
    border: 1px solid black;
}
.list-r{
    background-color: rgba(22, 21, 21, 0.652);
    height: 70%;
    overflow-y: scroll;
}
.options-item{
    background-color: rgba(29, 30, 30, 0.587);
    margin-top: 10px;
    padding: 5px;
}
.option-link{
    text-decoration: none;
    color: white;
}